@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


* {
    /* font-family: 'Times New Roman', Times, serif; */
    color: #000000;
    box-sizing: border-box;
}

body {
    background: #4ECDC4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
    background: linear-gradient(to right, #556270, #4ECDC4);
}

.container-1 {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
}

.div-heading {
    display: flex;
    justify-content: center;
}

.container-1 input {
    width: 120%;
    height: 25px;
    border-radius: 5px;
}

.container-1 select {
    width: 120%;
    height: 25px;

}

/* #calculate-btn{
    width: 170px;
    height: 30px;
    background-color: brown;
    border-radius: 10px;
    color: white;
    font-size: large;
} */
/* 
#calculate-btn:hover  {
    background-color: aqua;
    color: black;
} */

.container-table {
    display: flex;
    justify-content: center;
}

.simulation_table th,
td {

    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#add-value {
    width: 170px;
    height: 30px;
    background-color: brown;
    border-radius: 10px;
    color: white;
    font-size: large;
}

#service_min {
    display: none;
}

#service_max {
    display: none;
}

#num_servers {
    display: none;
}

.sim-table {
    border-collapse: collapse;

}

.sim-table th {
    border: 1px solid black;
    padding: 5px;
}

#avg_interarrival {
    display: none;

}

#avg_service {
    display: none;
}

#var_arrival {
    display: none;
}

#var_service {
    display: none;
}

.Calculate {
    display: flex;
    justify-content: center;
}






.top-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form-container {
    height: fit-content;
    width: 100%;
    max-width: 550px;
    margin: 0px auto;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.slected-queuing-model {
    pointer-events: none;
    width: 50px !important;
}


.mean-input-boxes {
    width: 100%;
    max-width: 300px;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.cards-container {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    align-items: stretch;
}

.kpi {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fafafa;
}

.calculate-params-container {
    display: none;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: #d1f2eb;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    padding: 40px 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
}

.params-text {
    display: flex;
    align-items: center;
    gap: 10px;
}